<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951632455737-1laf49jrt1cin0g6clife70q06vvhvkm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951632455737-1laf49jrt1cin0g6clife70q06vvhvkm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>951632455737-4h8vlrdp6c7eo56r0cfj8o6j4ros3ds3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCYE8mMV4Cay2jvB9GvIioXD9cAW6JkPNc</string>
	<key>GCM_SENDER_ID</key>
	<string>951632455737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.latihanSoal</string>
	<key>PROJECT_ID</key>
	<string>latihan-soal-7b711</string>
	<key>STORAGE_BUCKET</key>
	<string>latihan-soal-7b711.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951632455737:ios:d314055cc193b8336705e8</string>
</dict>
</plist>